/* YES, THE zStream CSS IS A MODIFIED VERSION OF CTalvio's Ultrachromic. */
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/fixes.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/base.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/accentlist.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/rounding.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/smallercast.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/episodelist/episodes_grid.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/header/header_transparent.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/login/login_frame.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/fields/fields_border.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/cornerindicator/indicator_floating.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/type/dark_withaccent.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/titlepage/title_simple-logo.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/progress/floating.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/effects/glassy.css');

.skinHeader-withBackground {
  background-color: transparent !important;
}

body, h1, h2, h3, h4 { font-family: 'Inter', sans-serif; } /* THIS IS WHAT jf_font.css DOES */
.emby-textarea { font-family: monospace; font-size: 10pt;}/* USING THE Inter FONT INSTEAD. */

/* SETTING SOME Ultrachromic VARS */
:root {--accent: 0, 112, 243;}
:root {--rounding: 12px;}

/* Thanks prayag17 */
@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/round.css");

/* BACKGROUND CUSTOMIZATION */
.backdropImage {filter: blur(10px) saturate(180%) contrast(120%) brightness(40%);}

/* CUSTOM LOGIN PAGE BACKGROUND */
#loginPage {background: url(https://i.imgur.com/AWn39l6.png) !important; background-repeat: no-repeat !important; background-size: cover !important;}

/* SHADOWS */
.cardScalable { box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.15); }

/* TEXT-ONLY CAST */
#castContent .card.overflowPortraitCard { width: 4.2cm; font-size: 90%; }
#castContent .personCard { width: auto; }
#castContent .personCard .cardBox { margin-bottom: 0px; margin-right: 0px; }
#castContent { flex-wrap: wrap; max-height: 9.75em; }
div.personCard > :first-child > :first-child { display: none; }
.itemDetailPage .cardText { text-align: left; }
.itemDetailPage .textActionButton { text-align: left; }
.mainDrawer-scrollContainer { background-color: #080809; }

/* CHANGE SIDEBAR AND BACKGROUND COLORS */
.backgroundContainer, .dialog, html, .mainDrawer-scrollContainer { background-color: #282C34; }

/* HIDE INFO THAT'S USELESS (TO ME) */
.seriesAirTime, .itemTags { display: none!important; }